@font-face {
	font-family: 'Rokwell';
	src: url('fonts/Rokwell.eot');
	src: local('☺'), url('fonts/Rokwell.woff') format('woff')
    , url('fonts/Rokwell.ttf') format('truetype')
    , url('fonts/Rokwell.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Vani';
    src: url('fonts/Vani.eot');
    src: local('☺'), url('fonts/Vani.woff') format('woff')
    , url('fonts/Vani.ttf') format('truetype')
    , url('fonts/Vani.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'Rokwell';
    margin: 0;
    background: rgb(248,247,247); /* Old browsers */
    background: -moz-radial-gradient(ellipse at 50% -10%,  rgba(248,247,247,1) 0%, rgba(173,166,160,1) 43%, rgba(173,166,160,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(248,247,247,1)), color-stop(43%,rgba(173,166,160,1)), color-stop(100%,rgba(173,166,160,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(ellipse at 50% -10%,  rgba(248,247,247,1) 0%,rgba(173,166,160,1) 43%,rgba(173,166,160,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(ellipse at 50% -10%,  rgba(248,247,247,1) 0%,rgba(173,166,160,1) 43%,rgba(173,166,160,1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(ellipse at 50% -10%,  rgba(248,247,247,1) 0%,rgba(173,166,160,1) 43%,rgba(173,166,160,1) 100%); /* IE10+ */
    background: radial-gradient(ellipse at 50% -10%, rgba(248,247,247,1) 0%,rgba(173,166,160,1) 43%);/* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f7f7', endColorstr='#ada6a0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
img {
    border: 0;
}

.b-container {
    width: 930px;
    margin: 0 auto;
}

.b-shadow {
    padding: 12px;
    box-shadow: 0 0 4px rgba(0,0,0,0.75);
    background-color: #fff;
    margin: 0 0 15px 0;
}

.b-container__logo {
}

.b-logo {
    text-align: center;
    margin: 46px 0 0 0;
    font-size: 0;
}

.b-logo__link {
    text-decoration: none;
    font-family: 'Vani';
    font-size: 89px;
    line-height: 89px;
    color: rgba(84,84,84,0.28);

}

.b-header {
    padding:0 0 0 0px;
    height: 33px;
}

.b-header__menu{
    font-family: 'Rokwell';
    font-size: 0;
    text-align: left;
    float: left;
    margin: 6px 0 0 0;
}

.b-menu__item{
    font-size: 18px;
    list-style: none;
    display: inline-block;
    margin: 0 65px 0 0;

}

.b-menu__item_current {
    color: #5b5b5b;
}

.b-menu__link{
    color: #5b5b5b;
    text-decoration: none;

}

.b-menu__link:hover{
    color:#162c42;
}

.b-header__search {
    float: right;
}

.b-search {
    border:1px solid rgba(205,205,205, 0.38);
    height: 30px;
    width: 262px;
    position: relative;
}

.b-search__textField {
    position: absolute;
    height: 30px;
    border: none;
    padding: 0 40px 0 10px;
    font-family: 'Rokwell';
    font-size: 18px;
    font-style: italic;
    color: #5b5b5b;
    letter-spacing: 1px;
}

.b-search__btnSearch {
    position: absolute;
    width: 28px;
    height: 22px;
    background: url(../img/design/search_btn.png);
    right: 15px;
    border: none;
    top:5px;
}
.b-slide {
    height: 347px;
}

.b-container__info {
    margin: 20px 0 15px 0;
    font-size: 0;
}

.b-info__aboutSite{
    display: inline-block;
    width: 201px;
    vertical-align: top;
    font-size: 12px;
    margin: 0 0 0 10px;
    font-family: 'Rokwell';
    height: 350px;
}
.b-info__aboutSite:first-child {
    margin: 0;
}

.b-aboutSite__text {
    font-size: 12px;
    font-family: 'Rokwell';
    color:#343433;
    text-indent: 35px;
    padding: 5px 0 0 0;
    text-align: justify;
}

.b-post__tableImages {
    display: inline-block;
    width: 218px;
    vertical-align: top;
}

.b-post__aboutPost {
    display: inline-block;
    width: 675px;
    vertical-align: top;
    min-height:168 ;
    height: auto !important;
    height: 168;
    margin: 0 0 0 8px;
}

.b-tableImages__twoImg:first-child {
    margin: 0 0 9px 0;
}
.b-twoImg {
   height: 79px;
}

.b-twoImg__img {
    margin: 0 5px 0 0;
}

.b-aboutPost__title {
    font-size: 18px;
    font-family: 'Rokwell';
    color:#000;
}

.b-aboutPost__text {
    font-size: 12px;
    font-family: 'Rokwell';
    color:#343433;
    line-height: 15px;
}

.b-aboutPost__link {
    font-size: 12px;
    font-family: 'Rokwell';
    color:#000;
    text-transform: lowercase;
    float: right;
    margin: 15px 0 0 0;
}

.b-footerMenu {
    font-family: 'Calibri';
    font-size: 0;
    text-align: left;
    height: 30px;
    padding: 0;
}

.b-footerMenu__item{
    font-size: 14px;
    padding: 0px 0 0 0;
    list-style: none;
    display: inline-block;
    margin: 5px 0 0 12px;
}

/*.b-footerMenu:first-child {*/
    /*margin: 0;*/
/*}*/
.b-footerMenu__link{
    color: #545454;
    text-decoration: none;

}